# Project Configuration
NEXT_PUBLIC_PROJECT_NAME="WhatsApp Tech by Meu Guru Tech"
NEXT_PUBLIC_REPOSITORY_URL="https://github.com/oismaelash/whatsapp-tech-next-ts-frontend-backend"

# Google Analytics Configuration
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-XXXXXXXXXX"